
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutTrangchu.cshtml";
}

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>Đăng nhập</h4>

                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    <label for="">Tên người dùng hoặc Email<span>*</span></label>
                                    <input name="UserName" type="text" required placeholder="Username">
                                    <label for="">Mật khẩu<span>*</span></label>
                                    <input name="Password" type="password" required placeholder="Password">
                                    <button type="submit" class="aa-browse-btn">Đăng nhập</button>
                                    <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme">Nhớ tài khoản của tôi </label>
                                   
                                }

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>Đăng kí</h4>

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    <label for="">Tên người dùng<span>*</span></label>
                                    <input name="First_Name" type="text" placeholder="Enter first name">

                                    

                                    <label for="">Username<span>*</span></label>
                                    <input name="UserName" type="text" placeholder="Username">

                                    

                                    <button type="submit" class="aa-browse-btn">ĐĂng kí tài khoản</button>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
